@font-face {

  font-family: "QuickSand Light";
  src: url("/assets/fuentes/Quicksand-VariableFont_wght.ttf");
} 
@font-face {
  font-family: "Urbanist thin";
  src: url("/assets/fuentes/Urbanist-VariableFont_wght.ttf");
} 
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fuentes/Montserrat-Bold.ttf");
  
} 
:root{
  --variable-height:150vh;
  --variable-width:100vh;
  --variable-color: #88888a;
}

body{
  margin: 0px;
  padding: 0px;
  /*  background-image: linear-gradient(to bottom,  #fefeff,#f6f7f8); */
}
.head{
 /* background-color: rgb(255, 255, 255); */
 background:linear-gradient(rgb(0, 0, 255,0.8), rgb(47, 27, 163,0.8));
 height: 80px;
 /* box-shadow: 0px 6px 2px 0px rgb(185, 184, 184); */
 
}
/*  .sidebar {
  position: fixed;
  width: 17%;
  height: 100vh;
 box-shadow: 0px 8px 10px 5px rgb(206, 204, 204);
  
  background-image: linear-gradient(#ffffff, #f1f0ef);
  float: left; 
  min-width: 40px;
 
}  */
 
  .icono-sidenav{
    height: 25px;
    width: 25px;
    margin-left: 20px;
    margin-top: 30px;
    text-align: center;
    padding-top: 3px;
    background-image: linear-gradient(to bottom,  #f6f7f8,#fefeff);
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgb(196, 195, 195); 
    margin-right: 10px;
    transition: all 0.5s;
    
  }
  .tituloZonas{

     font-family: 'Urbanist thin', sans-serif; 
     letter-spacing: 0.2em;
     text-transform: uppercase;
  }
  .Urbanist{

    font-family: 'Urbanist thin', sans-serif; 
    letter-spacing: 0.1em;
    text-transform:capitalize;
    font-weight: bold;
 }
  .cuota-zona{
    height: 100px;
    width: 170px;
    background-color: white;
    border-radius: 8px;
    border: 0px rgb(180, 177, 177) solid; 
    margin-top: 30px;
    margin-left: 40px;
    box-shadow: 0 0 12px rgb(218, 219, 219);

  }
  .navbar{ 
    width: 104%;
    margin-top: 40px;
  }
  .navbar-collapse ul{
    width: 100%;
    
   }
   .navbar-collapse{
    width: 80%;
    
   }
 

 .navbar-collapse ul li:hover{
  /* background-image: linear-gradient(to bottom,  #fefeff,#e7f0fa); */
 }
 
 .columna1{
  height:var(--variable-height);
  box-shadow: 0px 8px 10px 5px rgb(206, 204, 204);
  /* background-image: linear-gradient(to right,  #fefeff,#f6f7f8); */ 
  position: absolute;
}
.columna2{
  background-image: url('/assets/images/silueta3.jpg'); 
  background-repeat: no-repeat; 
  background-position: 400px 0px;
  position: relative;
  
}
.valor-anticipo{
  font-size: 22px;
  color: #3b385e;
}
.nombre-zona{
  font-weight: bold;
  color: rgb(151, 155, 155);
}
.saldo-zona{
  margin-bottom: 3px;
  color: rgb(109, 201, 163);
  font-weight: bold;
}
.icono-ciudad{
  width: 35px;
  height: 35px;
  margin-top: 13px;
  border-radius: 4px;
   background: linear-gradient(to bottom,  #4e4ef5,#9bb8da); 
  margin-left: 5px;
  margin-right: 5px;
   /* background: linear-gradient(to bottom,  #f50e5b,#b45959);  */
}
.titulo-usuarios{
  font-family: 'Urbanist thin', sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.registro-usuario{
  text-align: left;
  color: rgb(114, 112, 112);
  
   font-size: 14px;
   font-family: 'Urbanist thin', sans-serif;
   width: 500px;
   height: 700px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 25px 1px rgb(218, 216, 216);
   border: 1px rgb(240, 237, 237) solid;

}
.registro-usuario h3{
  font-size: 22px;
  margin-left: 30px;
  margin-top: 30px;
}
.camposuser{
  margin-left: 30px;
}

.subtitulo-usuarios{
  width: 300px; 
  height:200px;
  border-left: 1px rgb(170, 166, 166) solid;;
  line-height : 8px;
}
.subtitulo-registros{
  width: 300px; 
  height:150px;
  line-height : 5px;
  margin-bottom: 20px;
}
.monserrat-text{
  font-family: "Montserrat";
}
.numero-usuarios-texto{
  color: #aaa9a9;
  padding-bottom: 25px;
  border-bottom: 1px rgb(206, 203, 203) solid;
  width: 250px;
}
.circulo-activos{
  height:10px;
  width:10px;
  background:#58d88d;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding-top: 5px;
}
#valor_cargarcuotas{

  box-shadow: 0 0 15px rgb(201, 200, 200);
}
#valor_gasto{
  box-shadow: 0 0 15px rgb(201, 200, 200);
}
#periodo_gasto{
  box-shadow: 0 0 15px rgb(201, 200, 200);
  color: #a7a7a8;
}
.div_mes{
  width: 110px; 
  height:70px; 
  border-top: 1px rgb(207, 205, 205) solid;
  border-left: 1px rgb(207, 205, 205) solid;
  border-right: 1px rgb(207, 205, 205) solid;
  border-bottom: 1px rgb(97, 16, 248) solid;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 12px rgb(214, 216, 216);
}
.div_mes:hover{
  box-shadow: 0 0 12px rgb(214, 216, 216);
  --variable-color: rgb(98, 98, 250);
}
.div_mes:focus{
  box-shadow: 0 0 12px rgb(214, 216, 216);
  --variable-color: rgb(98, 98, 250);
}
.numero_mes{
  font-size: 18px;
 
  color:var(--variable-color);
  
}
.nombre_mes{
  color: #080808;
}

.div_zona a{
 text-decoration: none;
 color: black;
}

.contenido-zona{
  text-align: center;
  width: 60%;
  height: 36%;
  color: white;
  font-size: 24;
  border-bottom: 1px rgb(255, 255, 255) solid;
  border-top: 1px rgb(255, 255, 255) solid;
  display:flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(104, 104, 105), 0 0 0.2em rgb(139, 139, 141);
}
.contenido-zona a{
  color: white;
}
.contenido-zona a:hover{
  color: white;
}
.div_zonaprueba{
  width: 200px; 
  height:90px; 
  border-top: 1px rgb(207, 205, 205) solid;
  border-left: 1px rgb(207, 205, 205) solid;
  border-right: 1px rgb(207, 205, 205) solid;
  border-bottom: 1px rgb(231, 230, 233) solid;
  display:flex;
    justify-content: center;
    align-items: center;
  transition: all 0.7s;
  cursor: pointer;

}
.div_zonaprueba:hover{
  box-shadow: 1px 1px 50px 20px rgb(49, 49, 49) inset;
}
.div_zonaprueba:focus{
  box-shadow: 1px 1px 50px 20px rgb(49, 49, 49) inset;
}
.categorias{
  box-shadow: 10px 10px 25px 1px rgb(248, 248, 248);
   border: 1px rgb(248, 247, 247) solid;
  width: 401px; 
  height: 200px;
  
}
.cuadro-categoria{
  width: 133px;
  height: 100px;
  border: 1px rgb(205, 205, 206) solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px 6px rgb(228, 227, 227) inset;
  border-radius: 6px;
  font-family: "Urbanist thin";
  cursor: pointer;
  background-color: white;
}
.cuadro-categoria span{
  font-family: "Urbanist thin";
  color: rgba(93, 93, 252, 0.795);
}
.cuadro-categoria:hover{
  box-shadow: 0px 0px 0px 0px rgb(250, 249, 249) ;
  border-color: rgba(35, 35, 248, 0.308);
}
.text a{
  text-decoration: none;
}
.categorias a{
  text-decoration: none;
}
.item-subcategoria{
  width: 230px;
  height: 40px;
  background-image: linear-gradient( to bottom,rgb(253, 252, 252),rgb(244, 243, 252));
  box-shadow: 1px 1px 5px 1px rgb(236, 235, 235);
  border: 1px rgb(236, 234, 234) solid;
  margin-top: 10px;
  margin-left: 50px;
  padding-top: 4px;
  cursor: pointer;
   box-shadow: -1px 1px 7px 0px rgb(160, 158, 158); 
  transition: all 0.5s;
}
.item-subcategoria:hover{
  
  box-shadow: -1px 1px 7px 0px rgb(17, 17, 17);
}
.absolute_registros{
  position: absolute;
  top:110%;
  left: 21%
}
.subcategorias::-webkit-scrollbar{
  width: 5px;
}
.subcategorias::-webkit-scrollbar-thumb{
  background-color: rgb(238, 235, 235);
  border-radius: 5px;
}
.card-registros{
  box-shadow: 0 0 25px 1px rgb(231, 230, 230);
  border: 1px 1px 1px  1px rgb(236, 233, 233) solid;

}
.contenido-registro{

  box-shadow: 0 0 15px rgb(159, 160, 160);
  width: 1000px;
  height: 100px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 10px;

}
.contenido-registro{
  text-decoration: none;
}
.datos-usuario{
  margin-top: 38px;
}
.nombre-usuario{
  margin-top: 30px;
}
.cifra-gasto{
  margin-top: 10px;
  margin-left: 150px;
}
.datos-gasto{

  width: 330px;
  height: 60px;
  background-color:rgb(253, 252, 252); 
  margin-top:45px; 
  margin-bottom:10px; 
  border-radius:20px;
  display: flex;
  justify-content: center;
  border:1px rgb(223, 222, 222) solid;
  text-align: center;
}
.datos-destino{
  margin-left: 100px;
  margin-top: 10px;
}


.navbar-collapse ul li a p{
  text-transform: uppercase;
}
.nav-link{
  text-align: right;
  letter-spacing: 0.2em;
  line-height: 1em;
  font-size: 0.65em;
  font-weight: bold;
 
}
.segundacolumna{
  margin-top: 144px;
}
.datos-registrogasto{
  margin-left: 55px;
}
input[type=range]{
  width: 30px;
  height:1.2em;
  -webkit-appearance: none; 
  border-radius: 10px;
  overflow:hidden;
  /* background-image:linear-gradient(to right, #29f5b8, rgb(245, 23, 23) ); */
  background-color: #d9dbda;
  box-shadow: 1px 1px 10px 1px rgb(207, 206, 206);
}
.range::-webkit-slider-thumb{

    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 70%;
    background-color: rgb(241, 239, 239);
    cursor:pointer;
    border: 1px rgb(255, 255, 255) solid;
   /*  box-shadow:-16px 0 0 4px rgb(3, 177, 75); */
   box-shadow:-10px 0 0 4px rgb(3, 177, 75);
    overflow: visible;

}
 .popover{
  width: 200px; 
  height:100px; 
  background-color: rgb(214, 22, 22); 
  position: absolute; 
  left:70%; 
  box-shadow: 0 0 25px 1px rgb(218, 216, 216); 
  display:none;
} 

@media (max-width: 600px) {

  .segundacolumna{
    margin-top: 14px;
  }
  .datos-registrogasto{
    margin-top: 54px;
    margin-left: 15px;
  }
  .item-subcategoria{

    margin-left: 20px;
  }
  .navbar{ 
    margin-top: 6px;
  }
  :root{
    --variable-height:
  }
  .registro-usuario{
   
     font-size: 14px;
    
     width: 250px;
     height: 500px;
     margin-left: 1px;
  
  }
  .registro-usuario h3{
    font-size: 22px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .camposuser{
    margin-left: 30px;
  }
  input[type='text']{
    width: 50px;
   
  }
  .categorias{
    width: 134px; 
    height: 700px;
    
  }

  

}