@font-face {

  font-family: "QuickSand Light";
  src: url("/assets/fuentes/Quicksand-VariableFont_wght.ttf");
} 
@font-face {
  font-family: "Urbanist thin";
  src: url("/assets/fuentes/Urbanist-VariableFont_wght.ttf");
} 
@font-face {
  font-family: "Montserrat";
  src: url("/assets/fuentes/Montserrat-Bold.ttf");
} 
:root{
  --variable-height:120vh;
  --variable-width:100vh;
  --variable-color: #88888a;
}

body{
  margin: 0px;
  padding: 0px;
}
.head{
 background-color: rgb(255, 255, 255);
 height: 100px; 
 box-shadow: 0px 5px 20px 0px rgb(226, 225, 225);
}
/*  .sidebar {
  position: fixed;
  width: 17%;
  height: 100vh;
 box-shadow: 0px 8px 10px 5px rgb(206, 204, 204);
  
  background-image: linear-gradient(#ffffff, #f1f0ef);
  float: left; 
  min-width: 40px;
 
}  */
 
  .icono-sidenav{
    height: 25px;
    width: 25px;
    margin-left: 10px;
    text-align: center;
    padding-top: 3px;
    background-image: linear-gradient(to bottom,  #f6f7f8,#fefeff);
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgb(196, 195, 195); 
    margin-right: 10px;
    transition: all 0.5s;
    font-weight: bolder;
  }
  .tituloZonas{

    /* font-family: 'Urbanist thin', sans-serif; */
  }
  .cuota-zona{
    height: 100px;
    width: 160px;
    background-color: white;
    border-radius: 8px;
    border: 0px rgb(180, 177, 177) solid; 
    margin-top: 30px;
    margin-left: 40px;
    box-shadow: 0 0 12px rgb(218, 219, 219);

  }
  .navbar{ 
    width: 106%;
    margin-top: 65px;
  }
  .navbar-collapse ul{
    width: 100%;
   }
  .navbar-nav li{
  border-bottom: 1px rgb(221, 218, 218) solid;
  height: 50px;
  background-image: linear-gradient(to bottom,  #fefeff,#f6f7f8);
  }

 .navbar-collapse ul li:hover{
  background-image: linear-gradient(to bottom,  #fefeff,#e7f0fa);
  color: rgb(206, 22, 22);
 }
 .columna1{
  height:var(--variable-height);
  box-shadow: 0px 8px 10px 5px rgb(206, 204, 204);
  
}
.columna2{
  background-image: url('/assets/images/silueta3.jpg'); 
  background-repeat: no-repeat; 
  background-position: 400px 0px;
}
.valor-anticipo{
  font-size: 22px;
  color: #3b385e;
}
.nombre-zona{
  font-weight: bold;
  color: rgb(151, 155, 155);
}
.saldo-zona{
  margin-bottom: 3px;
  color: rgb(109, 201, 163);
  font-weight: bold;
}
.icono-ciudad{
  width: 35px;
  height: 35px;
  margin-top: 13px;
  border-radius: 4px;
  /*  background: linear-gradient(to bottom,  #4e4ef5,#9bb8da); */ 
  margin-left: 5px;
  margin-right: 5px;
   background: linear-gradient(to bottom,  #f50e5b,#b45959); 
}
.titulo-usuarios{
  font-family: 'Urbanist thin', sans-serif;
}
.registro-usuario{
  text-align: left;
  color: rgb(114, 112, 112);
  
   font-size: 14px;
   font-family: 'Urbanist thin', sans-serif;
   width: 500px;
   height: 600px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 25px 1px rgb(231, 230, 230);
   border: 1px rgb(240, 237, 237) solid;

}
.registro-usuario h3{
  font-size: 22px;
  margin-left: 30px;
  margin-top: 30px;
}
.camposuser{
  margin-left: 30px;
}
/* input[type='text']{
  width: 150px;
  border:none;
  background-color: rgb(231, 229, 229);
  border-radius: 3px;
  height: 50px;
} */
.subtitulo-usuarios{
  width: 300px; 
  height:200px;
  border-left: 1px rgb(170, 166, 166) solid;;
  line-height : 8px;
  
}
.monserrat-text{
  font-family: "Montserrat";
}
.numero-usuarios-texto{
  color: #aaa9a9;
  padding-bottom: 25px;
  border-bottom: 1px rgb(206, 203, 203) solid;
  width: 250px;
}
.circulo-activos{
  height:10px;
  width:10px;
  background:#58d88d;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding-top: 5px;
}
#valor_cargarcuotas{

  box-shadow: 0 0 15px rgb(201, 200, 200);
}
.div_mes{
  width: 110px; 
  height:70px; 
  border-top: 1px rgb(207, 205, 205) solid;
  border-left: 1px rgb(207, 205, 205) solid;
  border-right: 1px rgb(207, 205, 205) solid;
  border-bottom: 1px rgb(97, 16, 248) solid;
}
.div_mes:hover{
  box-shadow: 0 0 12px rgb(214, 216, 216);
  --variable-color: rgb(98, 98, 250);
}
.numero_mes{
  font-size: 18px;
 
  color:var(--variable-color);
  
}
.nombre_mes{
  color: #080808;
}

.div_zona a{
 text-decoration: none;
 color: black;
}

.contenido-zona{
  text-align: center;
  width: 60%;
  height: 36%;
  color: white;
  font-size: 24;
  border-bottom: 1px rgb(255, 255, 255) solid;
  border-top: 1px rgb(255, 255, 255) solid;
  display:flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(104, 104, 105), 0 0 0.2em rgb(139, 139, 141);
}
.div_zonaprueba{
  width: 200px; 
  height:90px; 
  border-top: 1px rgb(207, 205, 205) solid;
  border-left: 1px rgb(207, 205, 205) solid;
  border-right: 1px rgb(207, 205, 205) solid;
  border-bottom: 1px rgb(231, 230, 233) solid;
  background-color: rgb(221, 12, 12);
  display:flex;
    justify-content: center;
    align-items: center;
    background-image:url('/assets/images/cali3.jpg');
  transition: all 0.7s;

}
.div_zonaprueba:hover{
  box-shadow: 1px 1px 50px 20px rgb(49, 49, 49) inset;
}
.categorias{
  border: 1px rgb(253, 253, 253) solid;
  width: 401px; 
  height: 200px;
  
}
.cuadro-categoria{
  width: 133px;
  height: 100px;
  border: 1px rgb(241, 240, 240) solid;
  text-align: center;
  display: flex;
  justify-content: center;
  
}
.text a{
  text-decoration: none;
}
@media (max-width: 600px) {

  .contenido{

    box-shadow: 0 0 12px rgb(228, 230, 230);
    width: 300px;
    height: 220px;
    left: 10px;
    transition: all 0.5s;
   
  }
 
  .navbar{ 
    margin-top: 6px;
  }
  :root{
    --variable-height:
  }
  .registro-usuario{
   
     font-size: 14px;
    
     width: 250px;
     height: 500px;
     margin-left: 1px;
    
  
  }
  .registro-usuario h3{
    font-size: 22px;
    margin-left: 30px;
    margin-top: 30px;
  }
  .camposuser{
    margin-left: 30px;
  }
  input[type='text']{
    width: 50px;
   
  }
  .categorias{
    border: 1px black solid;
    width: 134px; 
    height: 700px;
    
  }

}