<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ vista }}</title>
    
      <link rel="shortcut icon" href="../../assets/images/favicon.png">
      <link rel="stylesheet" href="{{base_url}}/css/estilosPlan.css" />
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <style>
         
      </style>
  </head>
  <body>
      <div id="banner">
        <img src="{{base_url}}{{datos.ruta_imagen_plan}}" class="mt-2 ms-3"id="img_cliente" >
        <img src="{{base_url}}/assets/images/fondo_basico.jpg" id="img_banner">
        <input id="color_boton1" name="color_boton1" type="hidden" value={{datos.color_boton1}}>
        <input id="color_boton2" name="color_boton1" type="hidden" value={{datos.color_boton2}}>
    </div>
    <div>
      <nav class="navbar navbar-expand-lg navbar-light" id="navbar"  data-color="{{datos.color_plan}}">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/home"><p class="item">Home</p></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/ayuda"><p class="item">Ayuda</p></a>
                </li>
                
              </ul>
                <div class="d-flex flex-column me-5">
                  <div id="rectangle" class="d-flex flex-row">
                        <a data-bs-toggle="collapse" href="#cerrarSesion" role="button" aria-expanded="false" aria-controls="cerrarSesion"><img src="../../assets/images/usuario_blanco.jpg" id="imagen_usuario"></a>
                        <p id="usuario"><strong>{{usuarios.nombre}}</strong></p>
                  </div>
                  <div class="collapse mt-0" id="cerrarSesion">
                    <a href="/logout" style="color: white;" class="ps-5 text-decoration-none">Cerrar sesión</a>
                </div>
              </div>
          </div>
      </nav>
    </div>
    <div class="container" id="contendorMenuPrincipal">
      <div class="row">
        <div class="col-md-3">
          <label for="tipo_archivo" class="mt-4">Selecciona el Tipo de Contenido</label>
          <select class="form-select mt-1"  id="tipo_archivo">
            <option selected>Opciones</option>
            <option value="1">Informe</option>
            <option value="2">Dashboard</option>
          </select>
          <input type="hidden" id="id_plan" value='{{datos.id_plan}}'></input>
          <input type="hidden" id="tipo" value='{{tipo}}'></input>
        </div>
      </div>
      <hr>
      {% if tipo == 'informe' %}
        {% include "partes/informe.html"%}
        <!DOCTYPE html>
      {% else %} 
        {% include "partes/dashboard.html"%}
        <!DOCTYPE html>
      {% endif %}
    </div>
    <footer class="page-footer d-flex-column justify-content-center">
      <hr class="ms-5 me-5"> 
      <div>
        <img src="{{base_url}}{{datos.ruta_imagen_plan}}" id="img_footer" class="mt-4 mb-3">
        </div>
        <div class="footer-copyright">
          <div class="container">
            Hecho por Proimpo © 2021 Copyright
            <a class="grey-text text-lighten-4 right   mb-3" href="https://www.proimpo.com/">Proimpo</a>
          </div>
      </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="modal_mensaje" tabindex="-1" data-bs-backdrop="static" aria-labelledby="modal_mensajeLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <img id="titulo_imagen_modal_mensaje" height="25px">
            <h5 style="color: white;" class="ms-2 mt-1" id="titulo_modal_mensaje"></h5>
            <button type="button" id="closeButton" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex flex-row justify-content-center" id="divModalBody">
              <img src="../../assets/images/chulo.png"  id="imagenModal" class="mt-4 pe-2" height="25px">
              <p id="textoMensaje" class="fw-bold mt-4"></p>
            </div>
            <p id="textoFallo"></p>
            <div id="spinner" class="d-none align-items-center">
              <p><strong></strong>¡Por favor espera mientras se realiza la carga!</strong></p>
              Cargando...
              <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
            <hr>
          </div>
         
        </div>
      </div>
    </div>
    <!-- Modal informe-->
    <div class="modal fade" id="modal_informe" tabindex="-1" aria-labelledby="moda_informelLabel" aria-hidden="true" data-color="{{datos.color_plan}}">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <img src="../../assets/images/flecha_abajo.png" height="25px">
            <h5 style="color: white;" class="ms-2 mt-1" id="titulo_modal_informe"></h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="cuerpo">
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{base_url}}/scripts/home.js"></script>
  
</body>
</html>