
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ vista }}</title>
    <link rel="shortcut icon" href="../../assets/images/favicon.png">
    
    <link rel="stylesheet" href="{{base_url}}/css/estilosHome.css" />
    <!-- CSS only -->
    <link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css ">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div>
    <header>
      <div class="border-bottom head">
        <img src="/assets/images/logo3.png" width="300px" class="ms-3">
      </div>
    </header>
    <div class="row" >
      <div class="col-md-2 columna1">
        <aside  class="sidebar">
        <nav class="navbar  navbar-expand-lg navbar-light" id="navbar" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse menu" id="navbarSupportedContent">
            <ul class=" nav navbar-nav  flex-column me-auto mb-2 mb-lg-0 mt-2" role="tablist">
              <li class="nav-item" id="cuotasZonas-tab" role="presentation">
                <a class="nav-link d-flex flex-row" data-bs-toggle="tab" data-bs-target="#cuotasZonas"  aria-current="cuotasZonas" role="tablist" aria-controls="cuotasZonas" aria-selected="true" href="#">
                  <div class="icono-sidenav"><i class="bi bi-person h6"></i></div>
                  <p>Registros</p>
                </a>
              </li>
              <li class="nav-item" id="usuariosZonas-tab" role="presentation">
                <a class="nav-link d-flex flex-row" data-bs-toggle="tab" data-bs-target="#usuariosZonas"  aria-current="usuariosZonas" role="tablist" aria-controls="usuariosZonas" aria-selected="true" href="#">
                  <div class="icono-sidenav"><i class="bi bi-person h6"></i></div>
                  <p>Usuarios</p>
                </a>
              </li>
              <li class="nav-item" id="cargarcuotas-tab" role="presentation">
                <a class="nav-link d-flex flex-row" data-bs-toggle="tab" data-bs-target="#cargarcuotas"  aria-current="cargarcuotas" role="tablist" aria-controls="cargarcuotas" aria-selected="true" href="#">
                  <div class="icono-sidenav"><i class="bi bi-person h6"></i></div>
                  <p>Cargar Anticipo</p>
                </a>
              </li>
              <li class="nav-item" id="registro-tab" role="presentation">
                <a class="nav-link d-flex flex-row" data-bs-toggle="tab" data-bs-target="#registro"  aria-current="registro" role="tablist" aria-controls="registro" aria-selected="true" href="#">
                  <div class="icono-sidenav"><i class="bi bi-person h6"></i></div>
                  <p>Registro Compra</p>
                </a>
              </li>
            </ul>
           </div>
        </nav>
        </aside>
      </div>
      <div class=" col-md-10 " >
        <div class="tab-content" >
          <div class="tab-pane columna2" style="height: 100vh;" id="cuotasZonas" role="tabpanel" aria-labelledby="cuotasZonas-tab">
            {% include "partes/cuotasZonas.html"%}
          </div>
          <div class="tab-pane" style="height: 90vh;" id="usuariosZonas" role="tabpanel" aria-labelledby="usuariosZonas-tab">
            {% include "partes/usuariosZonas.html"%}
          </div>
          <div class="tab-pane" style="height: 100vh;" id="cargarcuotas" role="tabpanel" aria-labelledby="cargarcuotas-tab">
            {% include "partes/cargarcuotas.html"%}
          </div>
          <div class="tab-pane active" style="height: 100vh;" id="registro" role="tabpanel" aria-labelledby="registro-tab">
            {% include "partes/registro.html"%}
          </div>
       </div>
     </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{base_url}}/scripts/home.js"></script>
  </div>
  </body>
</html>


