<hr class="divCenter">
<h6 class="mt-2 mb-4 divCenter">1. Selección de Año y Mes</h6>
  <div class="d-flex flex-row">
  <img src="{{base_url}}/assets/images/seleccion_ano2.png" id="img_ano_mes" width="400" class="mb-3 me-5"><h6 class="">1.1 Clic al año que quieres Gestionar, puedes cargar archivos del año anterior</h6>
</div>

<hr class="divCenter">
<h6 class="mt-2 mb-4 divCenter">2. Opción Descargar</h6>
<div class="d-flex flex-row">
  <img src="{{base_url}}/assets/images/imagen_descarga.png" id="img_cargar_informe" class="mb-4 me-5" width="400"><h6 class="">2.1. Dar clic en el botón "Descarga" para iniciar la descarga del archivo.<br><br>2.2. Se mostrará un mensaje en pantalla si el mes seleccionado no tiene archivos disponibles. </h6>
</div>