<hr class="divCenter">
<h6 class="mt-2 mb-4 divCenter">1. Selección de Año y Mes</h6>
  <div class="d-flex flex-row">
  <img src="{{base_url}}/assets/images/seleccion_ano2.png" id="img_ano_mes" width="400" class="mb-3 me-5"><h6 class="">1.1 Clic al año que quieres Gestionar, puedes cargar archivos del año anterior</h6>
</div>
<div class="d-flex flex-row mt-4">
  <h6 class="">1.2. Todos los meses del año estan disponibles para la carga y descarga de archivos<br><br>1.2 Los botones con las opciones de carga y descarga son independientes por cada mes.</h6>
  <img src="{{base_url}}/assets/images/cargar_informe.png" id="img_boton_cargar" width="400" class="mb-3 ms-2">
</div>
<hr class="divCenter">
<h6 class="mt-2 mb-4 divCenter">2. Carga de Archivo</h6>
<div class="d-flex flex-row">
  <img src="{{base_url}}/assets/images/pasocarga.png" id="img_cargar_informe" class="mb-4 me-5" width="400"><h6 class="">2.1. Selecciona un archivo local en formato .xls (Excell) ó .ppt (Power-Point) <br><br>2.2. Presiona cargar y espera el cuadro emergente indicando la carga exitosa.</h6>
</div>