<h3 class="mt-3 ms-5 titulo-usuarios mb-4">Cargar Anticipo</h3>
<div class="row mt-4 mb-4">
    <div class="col-md-4 ms-4" style="text-align: left;">
        <h4 class="monserrat-text mt-3 ms-3">1. Anticipo</h4>
        <div class="ms-3 mt-3">
           <label for="valor" class="form-label">Valor</label>
           <input type="number" class="form-control" id="valor_cargarcuotas">
           <div class="form-text">Ingrese los valores sin puntos ni comas.</div>
        </div>
        
    </div>
    <div class="col-md-7" >
        <div class="me-5  ms-3 d-flex flex-column">
          <div class="text mt-3  ms-4">
            <h4 class="monserrat-text">2. Periodo</h4>
            <div class="ms-3 mt-2">
                <label for="mes" class="form-label">Mes</label>
                <div class="d-flex flex-md-row flex-wrap">
                    <div class="div_mes me-1  ms-1 mb-1">
                        <div class=" monserrat-text numero_mes ms-1">01</div>
                        <div class="nombre_mes ms-1 mt-1"><h5>Enero</h5></div>
                    </div>
                    <div class="div_mes me-1  ms-1 mb-1">
                        <div class=" monserrat-text numero_mes ms-1">02</div>
                        <div class="nombre_mes mt-1 ms-1"><h5>Febrero</h5></div>
                    </div>
                    <div class="div_mes me-1  ms-1 mb-1">
                        <div class=" monserrat-text numero_mes ms-1">03</div>
                        <div class="nombre_mes form-text ms-1"><h5>Marzo</h5></div>
                    </div>
                    <div class="div_mes me-1  ms-1 mb-1">
                        <div class=" monserrat-text numero_mes ms-1">04</div>
                        <div class="nombre_mes form-text ms-1"><h5>Abril</h5></div>
                    </div>
                    <div class="div_mes me-1  ms-1 mb-1">
                        <div class=" monserrat-text numero_mes ms-1">05</div>
                        <div class="nombre_mes form-text ms-1"><h5>Enero</h5></div>
                    </div>
                    <div class="div_mes me-1  ms-1 mb-1">
                        <div class=" monserrat-text numero_mes ms-1">06</div>
                        <div class="nombre_mes form-text ms-1"><h5>Enero</h5></div>
                    </div>
                    <div class="div_mes me-1  ms-1 mb-1">
                        <div class=" monserrat-text numero_mes ms-1">07</div>
                        <div class="nombre_mes form-text ms-1"><h5>Enero</h5></div>
                    </div>
                   <!--  l -->
                   <div class="div_mes me-1 border ms-1 mb-1">
                    <div  class="form-text">01</div>
                    <div class="form-text"><h4>Julio</h4></div>
                </div>
                <div class="div_mes me-1 border ms-1 mb-1">
                    <div  class="form-text">02</div>
                    <div class="form-text"><h4>Agosto</h4></div>
                </div>
                <div class="div_mes me-1 border ms-1 mb-1">
                    <div  class="form-text">03</div>
                    <div class="form-text"><h5>Septiembre</h5></div>
                </div>
                <div class="div_mes me-1 border ms-1 mb-1">
                    <div  class="form-text">04</div>
                    <div class="form-text"><h4>Octubre</h4></div>
                </div>
                <div class="div_mes me-1 border ms-1 mb-1">
                    <div  class="form-text">05</div>
                    <div class="form-text"><h4>Noviembre</h4></div>
                </div>
                
                  <!--  m -->
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <div class="text mt-3  ms-4">
        <h4 class="monserrat-text ">3. Zona</h4>
        <div class="d-flex flex-md-row  flex-wrap mt-5">
            <div class="ms-3 mt-2">
                  <div class="div_zonaprueba m-1">
                    <div class="contenido-zona">
                      <a href=""><p class="monserrat-text mt-3">Cali</p></a>
                    </div>
                  </div>
              </div>
              <div class="ms-3 mt-2">
                
                  <div class="div_zonaprueba m-1" style="background-image:url('/assets/images/medellin.jpg');">
                    <div class="contenido-zona">
                      <a href=""><p class="monserrat-text mt-3">Barranquilla</p></a>
                    </div>
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>


