 <h3 class="mt-5 ms-5 titulo-usuarios mb-5">Cargar Anticipo</h3>
  <div class="row mt-4 mb-4">
    <div class="col-md-4 ms-4" style="text-align: left;">
        <h5 class="monserrat-text mt-3 ms-3 text-secondary">1. Anticipo</h5>
        <div class="ms-3 mt-3">
           <label for="valor" class="form-label">Valor</label>
           <input type="number" class="form-control" id="valor_cargarcuotas">
           <div class="form-text">Ingrese los valores sin puntos ni comas.</div>
        </div>
    </div>
    <div class="col-md-7" >
        <div class="me-5  ms-3 d-flex flex-column">
          <div class="text mt-3  ms-4">
            <h5 class="monserrat-text text-secondary">2. Periodo</h5>
            <div class="ms-3 mt-2">
                <label for="mes" class="form-label">Mes</label>
                <div class="d-flex flex-md-row flex-wrap meses">
                  {% for mes in meses %}
                    <div class="div_mes me-1  ms-1 mb-1" id="{{mes.id_mes}}" onclick="seleccionMes('{{mes.id_mes}}')">
                      <div class=" monserrat-text numero_mes ms-1">{{mes.numero}}</div>
                      <div class="nombre_mes ms-1 mt-1"><h5>{{mes.nombre}}</h5></div>
                   </div>
                  {% endfor %} 
                 
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row mt-4 ">
    <div class="col-md-12">
      <div class="text div_areazonas mt-3  ms-4">
        <h5 class="monserrat-text text-secondary">3. Zona</h5>
        <div class="d-flex flex-md-row  flex-wrap mt-5" id="div_zonas">
          {% for zona in zonas %}
          <div class="card me-2 mb-2" style="width: 240px;">
            <div class="card-header">
              Zona
            </div>
            <div class="card-body">
              <div class="div_zonaprueba m-1" data-imagen={{zona.imagen}} id="{{zona.id_zona}}" onclick="seleccionZona('{{zona.id_zona}}')">
                <div class="contenido-zona">
                  <p class="monserrat-text mt-3">{{zona.nombre}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
          </div>
          <button type="button" class="btn btn-primary ms-4 mt-5 mb-5" onclick="guardarAnticipo()">Guardar</button>
    </div>
  </div>
</div>


