<h1 class="mt-3 ms-3 tituloZonas"> Cuotas por Zona</h1>
<div class="row" >
  <div class="col-md-8 zonas">
    <div class="d-flex flex-md-row flex-wrap">
      <div class="cuota-zona">
        <div  class="d-flex flex-row">
        <div class="d-flex flex-column ms-3 mt-2">
          <span class="nombre-zona">Barranquilla</span>
          <b><span class="valor-anticipo">$23,45445</span></b>
          <span class="saldo-zona">$200,000</span>
        </div>
        <div class="icono-ciudad"><img src="/assets/images/monedas-icono.png" width="28px"></div>
      </div>
      </div>
      <div class="cuota-zona">
        <div  class="d-flex flex-row">
        <div class="d-flex flex-column ms-3 mt-2">
          <span class="nombre-zona">Bogotá</span>
          <b><span class="valor-anticipo">$23,45445</span></b>
          <span class="saldo-zona">$800,000</span>
        </div>
        <div class="icono-ciudad"><img src="/assets/images/monedas-icono.png" width="28px"></div>
      </div>
      </div>
      <div class="cuota-zona">
        <div  class="d-flex flex-row">
          <div class="d-flex flex-column ms-3 mt-2">
            <span class="nombre-zona">Bucaramanga</span>
            <b><span class="valor-anticipo">$23,45445</span></b>
            <span class="saldo-zona">$650,000</span>
          </div>
          <div class="icono-ciudad"><img src="/assets/images/monedas-icono.png" width="28px"></div>
      </div>
      </div>
      <div class="cuota-zona">
        <div  class="d-flex flex-row">
          <div class="d-flex flex-column ms-3 mt-2">
            <span class="nombre-zona">Cali</span>
            <b><span class="valor-anticipo">$23,45445</span></b>
            <span class="saldo-zona">$200,000</span>
          </div>
          <div class="icono-ciudad"><img src="/assets/images/monedas-icono.png" width="28px"></div>
        </div>
      </div>
      <div class="cuota-zona">
        <div  class="d-flex flex-row">
          <div class="d-flex flex-column ms-3 mt-2">
            <span class="nombre-zona">Cartagena</span>
            <b><span class="valor-anticipo">$23,45445</span></b>
            <span class="saldo-zona">$200,000</span>
          </div>
          <div class="icono-ciudad"><img src="/assets/images/monedas-icono.png" width="28px"></div>
      </div>
      </div>
      <div class="cuota-zona">
        <div  class="d-flex flex-row">
        <div class="d-flex flex-column ms-3 mt-2">
          <span class="nombre-zona">Ibagué</span>
          <b><span class="valor-anticipo">$23,45445</span></b>
          <span class="saldo-zona">$200,000</span>
        </div>
        <div class="icono-ciudad"><img src="/assets/images/monedas-icono.png" width="28px"></div>
      </div>
      </div>
      <div class="cuota-zona">
        <div  class="d-flex flex-row">
        <div class="d-flex flex-column ms-3 mt-2">
          <span class="nombre-zona">Barranquilla</span>
          <b><span class="valor-anticipo">$23,45445</span></b>
          <span class="saldo-zona">$200,000</span>
        </div>
        <div class="icono-ciudad"><img src="/assets/images/monedas-icono.png" width="28px"></div>
      </div>
      </div>
      <div class="cuota-zona">
        <div  class="d-flex flex-row">
          <div class="d-flex flex-column ms-3 mt-2">
            <span class="nombre-zona">Barranquilla</span>
            <b><span class="valor-anticipo">$23,45445</span></b>
            <span class="saldo-zona">$200,000</span>
          </div>
          <div class="icono-ciudad"><img src="/assets/images/monedas-icono.png" width="28px"></div>
        </div>
      </div>
    </div>
  </div>
</div>