
<div class="row div_categoria_subcategoria mt-4">
  <div class="d-flex flex-md-row flex-sm-column">
    <h3 class="mt-5 ms-5 titulo-usuarios mb-3">Cargar Compra</h3>
    <div class="me-5 mt-3 subtitulo-cargarcompra" >
      <div class="text mt-3  ms-4">
          <h5 class="text-secondary Urbanist">2.Subcategoria</h5>
          <p class="texto-subcategoria text-secondary fs-6">Opcionables segun categoria</p>
          
          <div class="d-flex flex-column">
              <h6 class="text-secondary Urbanist">3.Fecha</h6>
              <p class="text-secondary fs-6">Fecha de realización de compra</p>
          </div>
      </div>
    </div>

  </div>
  <div class=" div_categoria col-md-6">
     <div class="ms-5 mt-3 mb-5">
        <label for="valor" class="form-label">Valor</label>
        <input type="number" class="form-control w-75" id="valor_gasto">
      <div class="form-text">Ingrese los valores sin puntos ni comas.</div>
     </div>
     <h4 class="Urbanist mt-3 ms-5 fs-6">1. Categoria</h4>
     <div class="categorias ms-5 mt-5 d-flex flex-md-row flex-wrap" id="categorias">
      {% for categoria in categorias %}
      <div class="cuadro-categoria" onclick="seleccionCategoria('{{categoria.id_categoria}}')" id="{{categoria.id_categoria}}">
        <div class="d-flex flex-column">
        <img  width="65px" data-imagen={{categoria.imagen}}>
        <span>{{categoria.nombre}}</span>
        </div>
      </div>
      {% endfor %}
     </div>
  </div>
  <div class="col-md-6 ">
    <div class="segundacolumna">
      <h4 class="Urbanist mt-5 ms-4 fs-6 mb-5">2. Subcategoria</h4>
        <div  class="subcategorias" id="subcategorias">
          {% for subcategoria in subcategorias %}
            <div class="item-subcategoria" onclick="SeleccionSubcategoria('{{subcategoria.id_subcategoria}}')" id="{{subcategoria.id_subcategoria}}">
              <img width="35px" data-imagen={{subcategoria.imagen}}>
              <span style="color: rgb(122, 120, 120);">{{subcategoria.nombre}}</span>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
      <div class="form-group  ">
          <div class="col-md-8 datos-registrogasto inputGroupContainer">
            <label for="valor" class="form-label Urbanist">3. Fecha</label>
            <input type="date" name="fecha" id="periodo_gasto" class="form-control  mb-5">

            <div class="mb-3">
              <span>Origen</span>
              <div class="d-flex flex-row">
                <div class="border inputGroup"><img src="/assets/images/ubicacion_input.png" width="25px"></div>
              <input  class="form-control" placeholder="Ciudad" id="ciudad_origen" autocomplete="off" onkeyup="listaCiudad(event)"> <ul class="list-group" id="lista_ciudad_origen"></ul>
            </div>
            </div>
           
            <div class="mb-3">
             <span>Destino</span>
             <div class="d-flex flex-row">
              <div class="border inputGroup"><img src="/assets/images/ubicacion_input.png" width="25px"></div>
              <input class="form-control" placeholder="Ciudad" id="ciudad_destino" autocomplete="off"  onkeyup="listaCiudad(event)"> <ul class="list-group" id="lista_ciudad_destino"></ul>
             </div>
             
            </div>
            <div class="mb-3 mt-5">
              <label for="formFile" class="form-label">Cargar Archivo Soporte</label>
              <input class="form-control" type="file" id="file_soporte"  accept="image/jpeg" onchange="subirArchivo()">
            </div>
            <div class="mb-3 mt-5">
              <label for="valor" class="form-label ">Observacion(opcional)</label>
              <input  class="form-control" id="observacion_registros" autocomplete="off">
              <button type="button" class="btn btn-primary mt-4 mb-2" onclick="guardarCompra()">Guardar</button>
            </div>
          </div>
        </div>
        
  </div>
</div>

