<h3 class="mt-3 ms-5 titulo-usuarios mb-3">Cargar Compra</h3>
<div class="row mt-4">
   <div class="col-md-6">
     <div class="ms-5 mt-3 mb-5">
      <label for="valor" class="form-label">Valor</label>
      <input type="number" class="form-control" id="valor_cargarcuotas">
      <div class="form-text">Ingrese los valores sin puntos ni comas.</div>
     </div>
     <h4 class="monserrat-text mt-3 ms-5 fs-6">1. Categoria </h4>
     <div class="categorias ms-5 mt-5 d-flex flex-md-row flex-wrap">
        <div class="cuadro-categoria">
            <div class="d-flex flex-column">
            <a href="#"><img src="/assets/images/vehiculo3.jpg" width="65px"></a>
            <span>vehículo</span>
            </div>
        </div>
        <div class="cuadro-categoria">
          <div class="d-flex flex-column">
                <img src="/assets/images/restaurante2.png" width="65px">
                <span>Alimentación</span>
          </div>
        </div>
         <div class="cuadro-categoria">
            <div class="d-flex flex-column">
                <img src="/assets/images/hospedaje.jpg" width="65px">
                <span>Hospedaje</span>
             </div>
         </div>
         <div class="cuadro-categoria">
            <div class="d-flex flex-column">
                <img src="/assets/images/financiero3.png" width="65px">
                <span>Financiero</span>
             </div>
         </div>
         <div class="cuadro-categoria">
            <div class="d-flex flex-column">
                <img src="/assets/images/trabajo2.jpg" width="65px">
                <span>obra</span>
             </div>
         </div>
         <div class="cuadro-categoria">
            <div class="d-flex flex-column">
                <img src="/assets/images/otros.png" width="65px">
                <span>otros</span>
             </div>
         </div>
       </div>
       
   </div>
   <div class="col-md-6" style="margin-top: 140px;">
    <h4 class="monserrat-text mt-3 ms-5 fs-6 mb-5">2. Subcategoria</h4>
       <div  class="subcategorias" style="overflow: auto; width: 260px; height: 280px">
           <div class="item-subcategoria">
            <img src="/assets/images/bus.png" width="35px">
            <span style="color: rgb(122, 120, 120);">Bus Intemunicipal</span>
           </div>
       
      
        <div class="item-subcategoria" style="background-color: blue;">
         <img src="/assets/images/taxi2.png" width="35px">
         <span style="color: rgb(122, 120, 120);">Taxi</span>
        </div>
      
        <div class="item-subcategoria">
         <img src="/assets/images/moto.png" width="35px">
         <span style="color: rgb(122, 120, 120);">Mototaxi</span>
        </div>
      
     
        <div class="item-subcategoria">
         <img src="/assets/images/gasolina.png" width="35px">
         <span style="color: rgb(122, 120, 120);">Gasolina</span>
        </div>
        <div class="item-subcategoria">
            <img src="/assets/images/reparacion.png" width="35px">
            <span style="color: rgb(122, 120, 120);">Reparacion Movil</span>
           </div>
           <div class="item-subcategoria">
            <img src="/assets/images/reparacion.png" width="35px">
            <span style="color: rgb(122, 120, 120);">Reparacion Movil</span>
           </div>
           <div class="item-subcategoria">
            <img src="/assets/images/reparacion.png" width="35px">
            <span style="color: rgb(122, 120, 120);">Reparacion Movil</span>
           </div>
    </div>
      
   </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="valor" class="form-label ms-5">Observacion(opcional)</label>
        <input type="text" class="form-control ms-5" id="observvacion_registros">
        <button type="button" class="btn btn-primary mt-4 ms-5">Guardar</button>
    </div>
</div>

